@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/button/style.scss' as button;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
}

.form {
	display: flex;
	flex-direction: column;
	gap: s.space(6);
}

.card__block {
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: s.space(10);
}

.purchase-item__block {
	display: flex;
	flex-direction: column;
	gap: s.space(4);
	align-items: flex-start;
}